* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}


img {
    width: 100%;
    height: auto;
}

/* NAVBAR CSS */
nav{
    padding-left:4em;
    padding-right: 4em;
    /* TODO: figure out how to make center */
    position: center;
    
    width: 100%;
    top:0;
    left:0;
    z-index:10;
  }

  nav ul {
    margin:0;
    padding:0;
    display:flex;
  }
  nav li{
    padding: 1em 0;
    list-style-type: none;
    padding: 25px;
    font-size: 1.7em;
  }
  
  nav li a {
    color:rgb(45, 134, 105);
    font-weight: 600;
    opacity: 0.6;
    text-decoration: none;
    transition: .3s;
  }
  
  nav li a:hover {
    color:rgb(73, 37, 170);
    opacity: 1;
    text-decoration: none;
  }

  /* HEADER CSS */
.header {
    position: relative;
    background-image: url("images/wallpaper.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: rgb(7, 6, 4);
}
h1{
  /* margin-top: 10vh; */
  text-align: center;     
  padding-top: 20%;
  font-weight: 500;
  font-size:4em;
  color: rgb(180, 179, 179)
}

h2{
  font-size: 2em;
}


.welcome{
    margin-top: 10vh;
    text-align: center;
    font-weight: 500;
    padding-top: 10%;
    font-size:4em;
    color: rgb(110, 49, 49)}

.portfolio{
    /* margin-top: 10vh; */
    text-align: center;     
    padding-top: 30%;
    font-weight: 500;
    font-size:4em;
    color: rgb(29, 182, 110)}

.projects{
  padding-top: 10%;
  padding-left: 10%;
  padding-bottom: 10%;
  padding-right: 10%;
}
.project-one{
  padding-bottom: 5%;
  padding-top: 5%;
}
.project-two{
  padding-bottom: 5%;
  padding-top: 5%;
}
.project-three{
  padding-bottom: 5%;
  padding-top: 5%;
}
.project-four{
  padding-bottom: 5%;
  padding-top: 5%;
}
.project-five{
  padding-bottom: 5%;
  padding-top: 5%;
}
.project-six{
  padding-bottom: 5%;
  padding-top: 5%;
}

#changingword {
    color: rgb(62, 149, 152);
      } 

/* IMAGE GALLERY CSS */
.image-gallery {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr minmax(350px, 1fr)  minmax(350px, 1fr) minmax(350px, 1fr) 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding-top: 200px;
    padding-bottom: 200px;
    grid-template-areas:
    ". a b c ."
    ". d e f ."
    ;
}

.box-styling {
    height: 350px;
    /* background-color: rgb(67, 62, 92); */
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.box-shape {
  height: 350px;
  /* background-color: rgb(67, 62, 92); */
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}
.box-wrapper{
  height:350px;
  border-radius: 1%;
}
.box1 {
    grid-area: a;
}

.box2 {
    grid-area: b;
}

.box3 {
    grid-area: c;
}

.box4 {
    grid-area: d;
}

.box5 {
    grid-area: e;
}

.box6 {
    grid-area: f;
}

.bigText {
    font-size: 2em;
    padding-right: .5ch;
}


/* ABOUT ME CSS*/
/* @media screen and (max-width: 900px) {
  .about-me {
      display: grid;
      justify-items: center;
      align-items: center;
      background-color: rgb(73, 205, 209);
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
      "nav"
      "about-image"
      "about-paragraph"
     
      ;
  } 
  nav{
      grid-area:nav;
  }
  .image about-image{
      grid-area:image about-image;
  }
  .about-paragraph{
      grid-area:about-paragraph;
  }
  } */
.about-me { 
    height: 100vh !important;
    background-color: rgb(73, 205, 209) !important;
    padding: 20vh 50px 0 50px;
    column-count: 1;
}
 .about-me img{
  width: 60%;
  border-radius: 8%;
  margin-bottom: 4em;
} 
.about-me p{
  text-align: left;
  font-size:1em;
  line-height: 1.5rem;
}
.paragraph2{
  text-indent: 2em;
} the span tag that wrap starts off my paragraph
.bigText {
  font-size:2em;
  padding-right:.5em;
}

/* CONTACT CSS */
.contact {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 25vh !important;
    padding-bottom: 50vh;
    background-color: rgb(247, 196, 143) !important;
    grid-template-columns: 3fr minmax(2fr, 1fr) minmax(2fr, 1fr) 3fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". title title ."
    ". logo wrapper ."
    ;
}

.contact-title {
    font-size: 2em;
    grid-area: title;
    padding-bottom: 50px;
    color: rgb(45, 134, 105);
}

.logo-svg {
    width: 400px;
    grid-area: logo;
}

.contact-wrapper {
    grid-area: wrapper;
}


   /* footer section */
   footer{
    grid-area:footer;
  }
  footer p{
    font-size:2em;
  }
  footer li {
    display:inline;
  }
  footer ul {
    max-width: 640px;
    margin: 2em auto;
    padding:0;
    text-align: center;
    display: flex;
    flex-direction: row;
  }
  footer ul li{
    list-style: none;
    align-self:flex-end;
  }
  footer ul li a {
    text-decoration:none;
    color: rgb(56, 128, 66);
    opacity:.6;
    transition: .3s;
  }
  footer ul li a:hover {
    text-decoration:none;
    color:rgb(73, 37, 170);
  }
  footer svg {
    width:20%;
  }
  footer p{
    font-size: 1em;
  }



  /* MEDIA QUERY FOR SMALL SCREENS */
 @media (max-width:1100px){
    .image-gallery {
      padding-bottom: 0px;
        margin-bottom: 600px;
        grid-template-columns: 1fr minmax(350px, 1fr) minmax(350px, 1fr) 1fr;
        grid-template-areas:
        ". a b ."
        ". c d ."
        ". e f ."
        ;
    }
 }

/* MEDIA QUERY FOR MOBILE */
 @media (max-width:735px){
     nav {
         padding-left: 0;
     }

    .image-gallery {
        padding-bottom: 200%;
        grid-template-columns: 1fr minmax(400px, 1fr) 1fr;
        grid-template-areas:
        ".a."
        ".b."
        ".c."
        ".d."
        ".e."
        ".f."
        ;
    }

    .contact {
        padding-bottom: 200%;
        grid-template-columns: 3fr minmax(2fr, 1fr) 3fr;
        grid-template-rows: auto;
        grid-template-areas:
        ". title ."
        ". logo ."
        ". wrapper ."
        ;
    }
    
 }



